<h1>ツイート一覧</h1>

<%= link_to "ログアウト", logout_path, method: :delete %>

<ul class="list-group">
  <li>ユニファ株式会社 : <%= link_to "https://unifa-e.com", 'https://unifa-e.com/', target: :_blank %></li>
</ul>